PORT=3001
MONGO_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/event-booking?retryWrites=true&w=majority
JWT_SECRET=super_secret_jwt_key_change_in_production
STRIPE_SECRET=sk_test_your_stripe_secret_key
CLIENT_URL=http://localhost:3000
